<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d0dd.wms.mapper.InventoryHistoryMapper">

    <resultMap id="InventoryHistoryResult" type="com.d0dd.wms.entity.InventoryHistory">
        <id property="id" column="id"/>
        <result property="binId" column="bin_id"/>
        <result property="beforeQty" column="before_qty"/>
        <result property="afterQty" column="after_qty"/>
        <result property="diffQty" column="diff_qty"/>
        <result property="inventoryOpType" column="inventory_op_type"/>
        <result property="relatedOrderId" column="related_order_id"/>
        <result property="operationDate" column="operation_date"/>
        <result property="operatorId" column="operator_id"/>
    </resultMap>

    <sql id="selectInventoryHistoryVo">
        select id, bin_id, before_qty, after_qty, diff_qty, inventory_op_type, related_order_id, operation_date, operator_id
        from inventory_history
    </sql>

    <select id="selectList" parameterType="com.d0dd.wms.entity.InventoryHistory" resultMap="InventoryHistoryResult">
        <include refid="selectInventoryHistoryVo"/>
        <where>
            <if test="binId != null">
                AND bin_id = #{binId}
            </if>
            <if test="inventoryOpType != null and inventoryOpType != ''">
                AND inventory_op_type = #{inventoryOpType}
            </if>
            <if test="relatedOrderId != null">
                AND related_order_id = #{relatedOrderId}
            </if>
            <if test="operatorId != null">
                AND operator_id = #{operatorId}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="Long" resultMap="InventoryHistoryResult">
        <include refid="selectInventoryHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.d0dd.wms.entity.InventoryHistory" useGeneratedKeys="true" keyProperty="id">
        insert into inventory_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="binId != null">bin_id,</if>
            <if test="beforeQty != null">before_qty,</if>
            <if test="afterQty != null">after_qty,</if>
            <if test="diffQty != null">diff_qty,</if>
            <if test="inventoryOpType != null">inventory_op_type,</if>
            <if test="relatedOrderId != null">related_order_id,</if>
            <if test="operationDate != null">operation_date,</if>
            <if test="operatorId != null">operator_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="binId != null">#{binId},</if>
            <if test="beforeQty != null">#{beforeQty},</if>
            <if test="afterQty != null">#{afterQty},</if>
            <if test="diffQty != null">#{diffQty},</if>
            <if test="inventoryOpType != null">#{inventoryOpType},</if>
            <if test="relatedOrderId != null">#{relatedOrderId},</if>
            <if test="operationDate != null">#{operationDate},</if>
            <if test="operatorId != null">#{operatorId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.d0dd.wms.entity.InventoryHistory">
        update inventory_history
        <set>
            <if test="binId != null">bin_id = #{binId},</if>
            <if test="beforeQty != null">before_qty = #{beforeQty},</if>
            <if test="afterQty != null">after_qty = #{afterQty},</if>
            <if test="diffQty != null">diff_qty = #{diffQty},</if>
            <if test="inventoryOpType != null">inventory_op_type = #{inventoryOpType},</if>
            <if test="relatedOrderId != null">related_order_id = #{relatedOrderId},</if>
            <if test="operationDate != null">operation_date = #{operationDate},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from inventory_history where id = #{id}
    </delete>
</mapper>
