<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d0dd.wms.mapper.InventoryBatchMapper">

    <resultMap id="InventoryBatchResult" type="com.d0dd.wms.entity.InventoryBatch">
        <id property="id" column="id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="skuId" column="sku_id"/>
        <result property="batchNo" column="batch_no"/>
        <result property="totalQty" column="total_qty"/>
        <result property="availableQty" column="available_qty"/>
        <result property="frozenQty" column="frozen_qty"/>
        <result property="fdaHold" column="fda_hold"/>
        
        <!-- Transient -->
        <result property="skuCode" column="sku_code"/>
        <result property="prodName" column="prod_name"/>
        <result property="warehouseName" column="warehouse_name"/>
    </resultMap>

    <sql id="selectInventoryBatchVo">
        select id, warehouse_id, sku_id, batch_no, total_qty, available_qty, frozen_qty, fda_hold
        from inventory_batch
    </sql>

    <select id="selectList" parameterType="com.d0dd.wms.entity.InventoryBatch" resultMap="InventoryBatchResult">
        <include refid="selectInventoryBatchVo"/>
        <where>
            <if test="warehouseId != null">
                AND warehouse_id = #{warehouseId}
            </if>
            <if test="skuId != null">
                AND sku_id = #{skuId}
            </if>
            <if test="batchNo != null and batchNo != ''">
                AND batch_no like concat('%', #{batchNo}, '%')
            </if>
            <if test="fdaHold != null">
                AND fda_hold = #{fdaHold}
            </if>
        </where>
    </select>
    
    <select id="selectListByDto" parameterType="com.d0dd.wms.dto.StorageQueryDto" resultMap="InventoryBatchResult">
        select b.id, b.warehouse_id, b.sku_id, b.batch_no, b.total_qty, b.available_qty, b.frozen_qty, b.fda_hold,
               s.sku_code, s.prod_name_chn as prod_name, w.warehouse_name
        from inventory_batch b
        left join prod_sku s on b.sku_id = s.id
        left join warehouse w on b.warehouse_id = w.id
        <where>
            <if test="skuCode != null and skuCode != ''">
                AND s.sku_code like concat('%', #{skuCode}, '%')
            </if>
            <if test="prodName != null and prodName != ''">
                AND (s.prod_name_eng like concat('%', #{prodName}, '%') OR s.prod_name_chn like concat('%', #{prodName}, '%'))
            </if>
            <if test="warehouseId != null">
                AND b.warehouse_id = #{warehouseId}
            </if>
            <if test="batchNo != null and batchNo != ''">
                AND b.batch_no like concat('%', #{batchNo}, '%')
            </if>
            <if test="categoryId != null">
                AND s.category_id = #{categoryId}
            </if>
            <if test="prodType != null and prodType != ''">
                AND s.prod_type = #{prodType}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="Long" resultMap="InventoryBatchResult">
        <include refid="selectInventoryBatchVo"/>
        where id = #{id}
    </select>
    
    <select id="selectBySkuId" parameterType="Long" resultMap="InventoryBatchResult">
        select b.id, b.warehouse_id, b.sku_id, b.batch_no, b.total_qty, b.available_qty, b.frozen_qty, b.fda_hold,
               w.warehouse_name
        from inventory_batch b
        left join warehouse w on b.warehouse_id = w.id
        where b.sku_id = #{skuId}
    </select>

    <insert id="insert" parameterType="com.d0dd.wms.entity.InventoryBatch" useGeneratedKeys="true" keyProperty="id">
        insert into inventory_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="skuId != null">sku_id,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="totalQty != null">total_qty,</if>
            <if test="availableQty != null">available_qty,</if>
            <if test="frozenQty != null">frozen_qty,</if>
            <if test="fdaHold != null">fda_hold,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="skuId != null">#{skuId},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="totalQty != null">#{totalQty},</if>
            <if test="availableQty != null">#{availableQty},</if>
            <if test="frozenQty != null">#{frozenQty},</if>
            <if test="fdaHold != null">#{fdaHold},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.d0dd.wms.entity.InventoryBatch">
        update inventory_batch
        <set>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="totalQty != null">total_qty = #{totalQty},</if>
            <if test="availableQty != null">available_qty = #{availableQty},</if>
            <if test="frozenQty != null">frozen_qty = #{frozenQty},</if>
            <if test="fdaHold != null">fda_hold = #{fdaHold},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from inventory_batch where id = #{id}
    </delete>
</mapper>
